.container-div {
  padding: 20px;
  width: 50%;
  margin: auto;
  margin-top: 50px;
  max-height: 600px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  overflow-y: auto;
  background-color: #fff;
  z-index: 100;
}

.container-box {
  background-color: #fff;
  z-index: 100;
}

.not-found-data {
  text-align: center;
  padding: 30px;
}

.category-name-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px dashed dodgerblue;
  // width: max-content;

  .remove-icon,
  .edit-icon {
    transition: all ease 0.2s;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }

  .category-name {
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    margin-top: 25px;
    font-weight: bold;
    position: relative;
  }
}
.input {
  margin: 10px 40px 10px 20px;
  outline: none;
  border-radius: 5px;
  border: 1px dashed #333;
  padding: 9px 20px;
}
.input:focus {
  box-shadow: 0 0 15px #ddd;
}

.saveBtn {
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 9px 20px;
  background-color: #333;
  color: #fff;
  transition: all 0.2s ease-in;
}

.cancel-icon {
  margin-right: 10px;
  cursor: pointer;
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: .5;
}
