@import "_variables.scss";
@import "_base.scss";

.container-div {
  @include display(center, start, column);
  padding: 20px;
  width: 50%;
  margin: auto;
  position: relative;
  margin-top: 50px;
  max-height: 600px;
  overflow-y: auto;
  background-color: $white-color;
  z-index: 100;

  .container-box {
    background-color: $white-color;
    z-index: 100;

    .category-name-container {
      @include display(center, flex-start, row);
      border-bottom: 1px dashed $blue-root-project;

      .remove-icon,
      .edit-icon {
        transition: all ease 0.2s;
        width: 20px;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          transform: scale(1.1);
        }
      }

      .category-name {
        text-align: center;
        font-size: 0.8em;
        padding: 5px;
        margin-top: 25px;
        font-weight: bold;
        position: relative;
      }
    }
  }

  .not-found-data {
    text-align: center;
    padding: 30px;
  }

  .input {
    margin: 10px 40px 10px 20px;
    outline: none;
    border-radius: 5px;
    border: 1px dashed $dark-gray-color;
    padding: 9px 20px;
  }
  .input:focus {
    box-shadow: 0 0 15px $light-gray-color;
  }

  .saveBtn {
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 9px 20px;
    background-color: $dark-gray-color;
    color: $white-color;
    transition: all 0.2s ease-in;
  }

  .cancel-icon {
    margin-right: 10px;
    cursor: pointer;
  }
}

.bottom-wave {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0.5;
}
