@import "_variables.scss";
@import "_base.scss";


@mixin displayes(
  $display,
  $justifyContent,
  $flexWrap: wrap,
  $alignItems: center
) {
  display: $display;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-wrap: $flexWrap;
}

.container-blog {
  z-index: 10;
  position: relative;
  background-color: $white-color;
}

.blogCreateHeader {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  background-color: $dark-gray-color;
  color: $white-color;
  box-shadow: 0 2px 8px $light-grey-color;
}

.blogCategoryWrapper {
  @include displayes(flex, flex-end, wrap, center);
  margin: 50px 0;
  .sendBtn {
    margin-right: 10px;
  }
}

.blogCreateBackdrop {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  color: $dark-blue-color;
}
.blogCreateBackdropHidden {
  display: none;
}

.fileUploadWrapper p {
  text-align: right;
  font-size: 0.7em;
  color: $dark-red-color;
}

.fileUploadWrapper {
  flex-direction: column;
  @include displayes(flex, center, nowrap, flex-start);
  .fileUploadLabel {
    flex-direction: column;
    @include displayes(flex, center, nowrap, center);
    margin: 30px 0 30px 30px;
    cursor: pointer;
    padding: 15px;
    border: 2px dotted #34fc;
    input {
      display: none;
    }
  }
}

@media screen and (max-width: 366px) {
  .sendBtn {
    margin-top: 20px;
    margin-right: 0;
  }
}
